<%- include("partials/header") %>



<% blogs.forEach(function(blog) {%>
    <div class="ui container"id="container">
        <div class="ui huge header">
            <h2><%=blog.title%></h2>
        </div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui left round image large"src="<%=blog.image%>" alt="">
            </div>
            <div class="content">
                <span><%=blog.created.toDateString()%></span>
                <p><%-blog.body.substring(0, 100)%>...</p>
                <a href="/blogs/<%=blog._id%>">Read More</a>
            </div>
        </div>
        
        
    </div>

<% }) %>

<%- include("partials/footer") %>